@font-face {
    font-family: scratch;
    src:URL(./PoorStory-Regular.ttf)
}

body {
    background-image: url('images/background_Eco_foodies.png');
    background-color: #ff8f67;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family:scratch, Arial, Helvetica, sans-serif;
}

main {  
    text-align: center;
    padding: 3%;
}

h1 {
    padding: 0.25em;
    background-color: #bd6849;
    color: white;
    display:inline-block;
    border-radius: 0.5em;

}

.brand-img {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.welcoming-text {
    padding: 0.25em;
    background-color: #bd6849;
    color: white;
    border-radius: 0.5em;
    margin-bottom: 2em;
}

.restaurant-button {
    background-color: #d95276;
    color: #fff;
    padding: 0.5em;
    display: inline-block;
    margin-bottom: 1.5em;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}

.diy-button {
    background-color: #66a5ba;
    color: #fff;
    padding: 0.5em;
    display: inline-block;
    margin-bottom: 0.75em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5em;
    padding-left: 5.2em;
    padding-right: 5.2em;
}

.restaurant-name-1, .diy-bitterballen {
    background-color: #66a5ba;
    color: #fff;
   padding: 0.5em;
    display: inline-block;
    margin-bottom: 0.75em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5em;
    padding-left: 5.2em;
    padding-right: 5.2em;
    font-size: 1.25em;
}

.restaurant-name-2, .diy-middle-feast {
    background-color: #f0d44d;
    padding: 0.5em;
    display: inline-block;
    margin-bottom: 0.75em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5em;
    padding-left: 5.2em;
    padding-right: 5.2em;
    font-size: 1.25em;
    color: #272727;
}
   
.restaurant-name-3, .diy-shrimp {
    background-color: #d95276;
    color: #fff;
    padding: 0.5em;
    display: inline-block;
    margin-bottom: 0.75em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5em;
    padding-left: 5.2em;
    padding-right: 5.2em;
    font-size: 1.25em;
}

.return-button {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.black-bar {
    background-color: #272727;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em;

}

.restaurant-info {
    display: flex;
}

.bar-img {
max-width: 25%;
}

.restaurant-img {
    max-width: 35%;
    margin-right: 1em;
    border-radius: 0.5em;
}

.vegan-info, .ingredients-bitterballen {
    background-color: #66a5ba;
    color: #fff;
    padding: 0.5em;
    display: inline-block;
    margin-bottom: 0.75em;
    color: #fff;
    font-size: 75%;
    border-radius: 0.5em;
}

.fac-info, .ingredients-feast {
    background-color: #f0d44d;
    color: #fff;
    padding: 0.5em;
    display: inline-block;
    margin-bottom: 0.75em;
    color: black;
    font-size: 75%;
    border-radius: 0.5em;
    font-weight: bold;
}

.soil-info, .ingredients-shrimp {
    background-color: #d95276;
    color: #fff;
    padding: 0.5em;
    display: inline-block;
    margin-bottom: 0.75em;
    color: #fff;
    font-size: 75%;
    border-radius: 0.5em;
}

.location-vegan {
    background-color: #66a5ba;
    display: inline-block;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding: 1em;
    color: white;
    width: 20%;
    border-radius: 2em;
}

.location-fac {
    background-color: #f0d44d;
    color: black;
    display: inline-block;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding: 1em;
    color: white;
    width: 20%;
    border-radius: 2em;
}

.location-soil {
    background-color: #d95276;
    display: inline-block;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding: 1em;
    color: white;
    width: 20%;
    border-radius: 2em;
}

.diy-template-img img {
    max-width: 50%;
    border-radius: 0.5em;
}